i.nav-icon.usericon.fas.fa-user {
    margin-left: 0.5rem;
    font-size: 1.2rem;
    margin-right: .2rem;
    text-align: center;
    width: 1.6rem;
    color: #c2c7d0;
    margin-top: 0.5rem;
}
a.brand-link-new {
    background: #fff;
    display: block;
    padding: 15px;
}
a.brand-link-new img {
    width: 120px;
}
