@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    font-family: montserrat, arial, verdana;
    background: transparent;
}

.content-wrapper {
    background: #fff;
}
.content-header {
    background: #fafafa;
    margin-bottom: 15px;
}
i.nav-icon.usericon.fas.fa-user {
    margin-left: 0.5rem;
    font-size: 1.2rem;
    margin-right: .2rem;
    text-align: center;
    width: 1.6rem;
    color: #c2c7d0;
    margin-top: 0.5rem;
}
a.brand-link-new {
    background: #fff;
    display: block;
    padding: 15px;
}
a.brand-link-new img {
    width: 120px;
}
.nav-tabs a[data-toggle="modal"] h3:hover {
    text-decoration: underline !important;
}






.wizard {
    margin: 20px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;

}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}
.fc-daygrid-event-harness {
    cursor: pointer;
}
#mdl-editProfile .row {
    border-bottom: solid 3px #dadada;
    margin-bottom: 20px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #17a2b8;
}
#tb-companyInfo .editSingleInfo span {
    background: #fff;
}
#tb-companyInfo .editSingleInfo span:hover {
    background: #f9f9f9;
    cursor: pointer;
}
#printArea .card-body {
  background: transparent !important;
}
#printArea {
  height: 595.28px !important;
  width: 841.89px !important;
  /* background: #f5f5f5 !important; */
  background-image: url("../../public/images/cert/numeko_certificate.jpg");
  padding: 30px !important;
}
div#crd-print {
    height: 100%;
    /* border: solid 3px #a4a4a4;
    border-radius: 0px !important; */
    background: transparent;
}
#cert-name {
  font-family: 'Berkshire Swash', cursive;
  font-size: 40px;
}
